rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /categories/{category} {
      //allow read if authenticated
      allow read: if isAuthenticated();
      //allow create if authenticated, update and delete if the user owns the document
      allow create: if isAuthenticated();
      allow update, delete: if isOwnByUser();
    }

    match /restaurants/{restaurant} {
      //allow read if authenticated
      allow read: if isAuthenticated();
      //allow create if authenticated, update and delete if the user owns the document
      allow create: if isAuthenticated();
      allow update, delete: if isOwnByUser();
    }

    match /{document=**}{
      allow read, write: if false
    }
  }

  function isAuthenticated(){
    return request.auth != null;
  }

  function isOwnByUser(){
    // userId of incoming doc should match the authenticated user id
    return request.resource.data.userId == request.auth.uid;
  }
}
